.container {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(6,80px);
 

}

.cell {
  color: black;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  border-color: black 5px;
  border-style: solid;
  height: 40px;
  width: 40px;
}

