body {background-color: black;}

.container {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(6,80px);
 

}

.cell {
  color: rgb(116, 114, 114);
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  border-color: rgb(255, 255, 255) 5px;
  border-style: solid;
  height: 40px;
  width: 40px;
}


.cell input {
  display: inline-block;
  background-color: black;
  color: white;
  float: left;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;
  font-size: 15px;
}

